.onElement{
    height: 25vh;
    width: 25vw;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1.5px 5px gray ;
   gap: 50px;

}